# Dependencias
node_modules/

# Builds y producción
dist/
build/

# Archivos de entorno (¡MUY IMPORTANTE!)
.env
.env.local
.env.*.local

# Logs y varios
npm-debug.log*
yarn-debug.log*
yarn-test.log*
.DS_Store
.vscode/