node_modules/
.env
.env*.local
.DS_Store
database.sqlite
.vscode/

.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo
.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

ios/
android/